<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	You can message me via my 
	<a href="https://www.facebook.com/jaydeemin"> Facebook page </a>
	
	<br>
	or e-mail me at jaydeemin at gmail dot com
	<br>
	<br>
	<iframe width="560" height="315" src="//www.youtube.com/embed/PK0DF1AzPE4" frameborder="0" allowfullscreen></iframe>
</p>

