<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
	<head>
		<title> jaydeeminSampleApp | <%= yield(:title) %> </title>
	</head>
	<body>
		<h1>Help</h1>
		<p>
			Get help on the Ruby on Rails Tutorial anywhere, not just one tutorial.
			To get help on this sample app, help yourself.
		</p>
	</body>
</html>


