<!DOCTYPE html>
<html>
	<head>
		<title> jaydeeminSampleApp | Home </title>
	</head>
	<body>
		<h1>Sample App</h1>
		<p>
			This is the home page for the 
			<a href="https://www.facebook.com/jaydeemin"> Jaydee Min First Project </a>
			sample application.
			<br>
			<br>
			<br>
			<iframe width="560" height="315" src="//www.youtube.com/embed/PK0DF1AzPE4" frameborder="0" allowfullscreen></iframe>
		</p>
	</body>
</html>
